html {
	height: 100%;
}

body {
	background: #f4f4f4;
	font-family: Arial, sans-serif;
	height: 100%;
	overflow-y: hidden;
}

.main {
	padding: 30px 30px;
}

	.page-header {
		background: #333;
		padding: 15px;
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		right: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	}

		.logo {
		    color: #f4f4f4;
		    font-weight: bold;
		    width: calc(15% - 10px);
		    margin-right: 10px;
		    display: flex;
		    align-items: center;
		    font-size: 17px;
		}

			.logo i {
				font-size: 25px;
				color: #f4f4f4;
				margin-right: 20px;
				transition: 0.3s;
			}

				.logo i:hover {
					font-size: 35px;
				}

		.search-block {
			width: calc(65% - 20px);
			margin: 0 10px;
		}

			.search-input {
				width: 100%;
				padding: 10px 10px;
				outline: none;
			}

		.user-card {
			width: calc(20% - 10px);
			margin-left: 10px;
			display: flex;
			align-items: center;
		}

			.user-card__name {
				color: #ddd;
				margin-left: 15px;
				transition: 0.3s;
				font-size: 14px;
			}

				.user-card__name:hover {
					/*color: #0e57b7;*/
					font-size: 16px;
					cursor: pointer;
				}

			.user-card__avatar {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #ffffff;
				transition: 0.3s;
			}

				.user-card__avatar:hover {
					width: 70px;
					height: 70px;
					cursor: pointer;
				}

				.user-card__avatar img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					transition: 0.3s;
				}

					.user-card__avatar img:hover {
						width: 70px;
						height: 70px;
					}

	.list {
		/*padding: 15px;*/
		background: #fff;
		display: flex;
		flex-direction: column;
		margin-top: 70px;
		overflow-y: scroll;
		height: 75vh;
		width: 100%;
	}

		.list-item {
			padding: 15px 15px 28px 15px;
			border-bottom: 1px solid #ddd;
			color: #333;
			display: flex;
			font-size: 14px;
		}

			.list-item__play-btn {
				color: #333;
				transition: color 0.3s;
			}

				.list-item__play-btn:hover {
					cursor: pointer;
					color: #0e57b7;
				}

			.list-item__audio-name {
				margin: 0 0 0 10px;
			}


.panel {
	width: 100%;
	padding: 30px;
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	background: #333;
}
